body {
  padding: 0;
  margin: 0;
  background-color: black;
}

canvas {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  background-color: transparent;
}

#canvas {

}

#canvas2 {

}
